<!DOCTYPE html>
<html>

   <head>
      <title>Some Name, By Dom.Farnham()</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>A ##### Microservice By <a href="https://twitter.com/JSCodebook">dom.farnham()</a></h1>
        <p>
          A microservice which // Some description
        </p>
        <h4>
          Example usage:
        </h4>
        <p>
          
        </p>
        <h4>
          Example output:
        </h4>
        <p>
          
        </p>
        <h4>
          Demo:
        </h4>
        <p>
          
        </p>
        <h2>
          <a href="mailto:dom@javascriptcodebook.com">Contact me</a>
        </h2>
        <h2>
          <a href="https://github.com/domfarnham">My GitHub</a>
        </h2>
      </div>
   </body>

</html>
